/*=============================
        MIXIN
===============================*/

@mixin reset {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

@mixin align-form-elements($margin: 1rem) {
	background-color: white;
	padding: 0.5rem;
	margin: $margin;
	border-radius: 30px;
	border-color: transparent;
}

@mixin flex-pos($dir, $justify_content: center) {
	display: flex;
	flex-direction: $dir;
	justify-content: $justify_content;
	align-items: center;
}

/*==============================
        VARIABLES
================================*/
$base-color1: #00c6fb;
$base-color2: #005bea;
$complimentary-color: hsl(18, 100%, 49%);
$hover: hsl(18, 90%, 40%);
$bg-color: rgba(255, 255, 255, 0.5);
$error: pink;
$phones: 600px;
$tablets: 768px;
$laptops: 992px;
$lg-desktops: 1200px;

/*=====================================
        BASE STYLES
======================================*/

* {
	@include reset;
}

body {
	background-image: linear-gradient(to top, $base-color1 0%, $base-color2 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include flex-pos(column);
	.container {
		height: 100vh;
		width: 100%;
		.wrapper {
			background: $bg-color;
			border-radius: 5px;
			font-family: "Hind Siliguri", sans-serif;
			height: 80%;
			width: 50%;
			margin: 2rem auto;
			position: relative;
			@include flex-pos(column, center);
			.headline {
				font-family: "Lobster", cursive;
				padding: 1.5rem;
				font-size: 1.5rem;
				position: absolute;
				top: 5%;
				margin-bottom: 2rem;
			}

			.form-styles {
				@include flex-pos(column, space-between);
				font-weight: 600;
				.form-elements {
					padding: 0.5rem;
					position: relative;
					display: flex;

					.input-styles {
						@include align-form-elements();
					}
					.btn {
						@include align-form-elements(0.1rem);
						cursor: pointer;
						text-align: center;
						font-weight: 800;
						background-color: $complimentary-color;
						color: white;
						padding: 0.3rem 2rem;
					}
					.btn:hover {
						background-color: $hover;
					}
				}
			}
			.footer-styles {
				font-size: 0.8rem;
				font-weight: 300px;
				margin-top: 3rem;
			}

			.error-msg {
				color: red;
				border: 1px solid red;
				padding: 0.2rem;
				font-size: 0.75rem;
				background-color: white;
				border: transparent;
				width: fit-content;
				height: fit-content;
				border-radius: 4px;
				align-self: center;
			}

			.animate-input {
				animation: shake 0.2s ease forwards 3;
				animation-fill-mode: both;
				background-color: $error !important;
			}
			@keyframes shake {
				0% {
				}
				25% {
					transform: rotate(3deg);
				}
				50% {
					transform: rotate(-3deg);
				}
				75% {
					transform: rotate(3deg);
				}
				100% {
					transform: rotate(0);
				}
			}
		}
	}
}
/*===============================================
			MEDIA QUERY FOR SMALL PHONES
=================================================*/
@media (max-width: $phones) {
	body {
		.container {
			.wrapper {
				width: 90%;
				.headline {
					font-size: 2.5rem;
				}
			}
		}
	}
}

/*===============================================
			MEDIA QUERY FOR LARGE PHONES
=================================================*/
@media (min-width: $phones) {
	body {
		.container {
			.wrapper {
				width: 70%;
				.headline {
					font-size: 2.7rem;
				}
			}
		}
	}
}

/*===============================================
			MEDIA QUERY FOR TABLETS
=================================================*/
@media (min-width: $tablets) {
	body {
		.container {
			.wrapper {
				.headline {
					font-size: 3rem;
				}
			}
		}
	}
}

/*===============================================
			MEDIA QUERY FOR LAPTOPS
=================================================*/
@media (min-width: $laptops) {
	body {
		.container {
			.wrapper {
				.headline {
					font-size: 3.5rem;
					padding: 0.5rem;
				}
			}
		}
	}
}

/*===============================================
			MEDIA QUERY FOR DESKTOPS
=================================================*/
@media (min-width: $lg-desktops) {
	body {
		.container {
			.wrapper {
				max-width: 1000px;
			}
		}
	}
}
